*,::after,::before{box-sizing:border-box}


html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }

* {
    padding: 0;
    margin: 0;
    font-family: 'Baloo 2';
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-size: 100%;
    text-align: center;
    margin: 0;
    background-position: fixed;
    overflow-x: hidden;
    background: rgb(156, 156, 156);
    background: linear-gradient(263deg, rgba(112,112,112,0.01253039106267509) 0%, rgba(109,109,109,0.053734872855392135) 100%); 
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.cont {
    width: 1000px;
    max-width: 99%;
    margin-top: 40px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.we-200 {
    font-weight: 200 !important;
}

.we-300 {
    font-weight: 300 !important;
}

.we-400 {
    font-weight: 400 !important;
}

.we-500 {
    font-weight: 500 !important;
}

.we-700 {
    font-weight: 700 !important;
}

.co-gr-7 {
    color: rgba(0,0,0,0.7);
}

.co-gr-8 {
    color: rgba(0,0,0,0.8);
}

.co-gr-6 {
    color: rgba(0,0,0,0.6);
}

.top-head {
    width: 100%;
    direction: ltr;
    border-bottom: 1px rgb(156, 156, 156, 0.2) solid;
    padding: 8px;
    display: inline-block;
    background-color: rgba(214,214,214,0.09);
}

.top-head .left-t {
    width: auto;
    padding: 5px;
    text-align: left;
    display: inline-block;
    font-size: 20px;
}

.top-head .left-t small {
    font-size: 14px;
    margin-left: 3px;
    padding: 5px;
}

.top-head .left-t img {
    display: inline-block;
    margin-bottom: -8px;
    padding: 0;
}

.top-head .right-t {
    text-align: right !important;
    width: auto;
    display: inline-block;
    padding: 8px;
}

.top-head .right-t .lo {
    border-radius: 30px;
    padding: 5px;
    margin: 5px;
    padding-left: 8px;
    padding-right: 8px;
    display: inline;
    font-size: 14px;
    text-align: center;
    background-color: white;
    border: 1px rgba(0,0,0,0.05) solid;
}

.di {
    height: 10px !important;
    width: 10px !important;
    margin-right: 5px;
    border-radius: 100%;
    display: inline-block;
}

.di.y {
    background: yellow;
}

.di.b {
    background: blue;
}

.di.r {
    background: red;
}

.top-head .right-t .lo.github {
    background-color: #24292e;
    color: white;
    transition: 0.5s all;
}

.top-head .right-t .lo.github:hover {
    background-color: #1b1e22;
}

a {
    text-decoration: none;
}

.top-bg {
    width: 100%;
    padding: 25px;
    display: block;
    background-color: #0366d6;
    color: white;
    margin-bottom: 20px;
}

.to-c {
    font-size: 27px;
}

.to-t {
    font-size: 14px;
}

.main-app {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    display: block;
    text-align: justify;
    direction: ltr;
}

.main-app b {
    font-weight: 700;
}

.main-app code {
    background-color: rgb(156, 156, 156, 0.09);
    border-radius: 3px;
    padding: 2px;
}

.handler {
    color: #333;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    padding: 5px;
    border-bottom: 1px rgba(0,0,0,0.07) solid;
    margin-bottom: 8px;
    transition: 0.25s all;
    margin-top: 20px;
}

.handler:hover {
    opacity: 0.7;
}

.handler::before {
    content: '#';
    margin-right: 5px;
}

.form-q {
    width: auto;
    padding: 15px;
    border-radius: 15px;
    margin-top: 7px;
    margin-bottom: 7px;
}

input[type='text'] {
    padding: 12px;
    border-radius: 3px;
    text-align: left;
    direction: ltr;
    border: 0;
    background-color: rgb(156, 156, 156, 0.1);
    margin: 7px;
}

button {
    padding: 12px;
    border-radius: 3px;
    text-align: center;
    direction: ltr;
    border: 0;
    background-color: rgb(156, 156, 156, 0.1);
    margin: 7px;
    background-color: #0366d6;
    color: white;
    transition: 0.25s all;
    cursor: pointer;
}

button:hover {
    background-color: #01428d;
}

.ty {
    padding: 10px;
}

pre { 
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.02);
    color: #333;
    letter-spacing: 1px;
    direction: ltr;
    text-align: left;
}

#loading {
    transition: 0.5s all;
}

.top-load {
    width: auto;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.top-bg.y {
    background-color: #28a745;
}